.App {
  height: 100vh;
  background-color: #0d1116;
  text-align: center;
  color: white;
}

p {
  margin: 0;
}

.container {
  height: 100%;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}

.title {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.subtitle {
  font-size: 25px;
  color: white;
}

.left {
  text-align: left;
  margin-left: 10%;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.right {
  display: flex;
  background: black;
  border-radius: 16px;
  padding: 12px 20px;
  height: 99%;
  margin-right: 10%;
  margin-top: 10px;
}

.address_amount_text {
  margin-bottom: 10px;
}

.recipients_results {
  margin-top: 0px;
}

.total {
  margin-top: 10px;
}

.balance {
  margin-top: 10px;
}

.remaining {
  margin-top: 10px;
}

.content-container {
  background-color: #a200d6;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 550px;
}

.connect-wallet-container img {
  padding-bottom: 20px;
}

.connect-wallet-button {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.edit-icon {
  width: 12px;
}

.connection {
  background-color: #181818;
}

.list {
  margin-bottom: 20px;
  background-color: #181818;
}

.exceeds {
  margin-top: 10px;
}

.footer-container {
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.footer-container_p {
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  color: inherit;
}

.footer-hlink {
  color: inherit;
}

.form-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  border: 0;
  border-radius: 12px;
  color: black;
  letter-spacing: 1px;

  width: 420px;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-align: center;
}

.transaction {
  margin-top: 10px;
}

.txn {
  margin-bottom: 10px;
  color: inherit;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
